html,body{margin:0;padding:0}
body{font: 85%/1.3 TrebuchetMS,Arial,sans-serif;
    text-align: left;background: #fff;padding-bottom:20px}
a { color: #0066B3; background: inherit; text-decoration: none;}
h1 { font: bold 2.1em Arial, Arial, Sans-Serif; color: #036DA7 }
h2 { font: bold 1.1em Arial, Arial, Sans-Serif; padding: 0; margin: 0; }

div#header{width:100%;background: #BBD9EE; }
div#header h1{width:770px;margin:0 auto;text-align:left}
div#header h1{padding: 30px 0 20px;color: #fff}

#right {
	float: right;
	width: 76%;
	padding: 1em;
	margin-bottom: 1.2em;
	background: #eee;
	text-align: justify;
}

#left {
	float: left;
	width: 20%;
	margin: 0 0 10px 0;
	
}

#left .box {
	
	padding: 1em;
	margin: 0 0 1em 0;
	background : #FFF6BF;
}


#content_1 {
font: 95%/1.3 TrebuchetMS,Arial,sans-serif;
clear:both;
	margin: 0 auto;
    padding: 15px;
	background: #fff;
}

/* Footer */
#footer {position:relative; clear:both;background-color:#ff9900;width: 100%;height:100%;margin: 0;}

ul {  padding: 0; margin: 0;}
li { list-style-type: none;}

#menu li{
  float: left;
  position: relative;
  display: block;
  }
#menu,#sub-menu {
  margin-left: 0;
  padding: 0;
  list-style: none;
}
#menu li, #sub-menu li {
  background-color: #33ffff;
  padding: 0 10px;
  display: inline;
}
#menu li:hover {
  position: relative;
}
#sub-menu li:hover {
  position: relative;
}
#menu li a, #sub-menu li a{
  display: inline-block;
}
#menu li #sub-menu {
  position: absolute;
  display: none;
}

#menu li:hover #sub-menu {
  display: block;
  background:#33ffff;
}

#menu li #sub-menu li{
}
#menu li #sub-menu{
position: absolute;
  display: none;
}